@font-face {
  font-family: 'Gotham-Bold';
  src: url('/assets/fonts/Gotham-Bold/Gotham-Bold.eot');
  src: url('/assets/fonts/Gotham-Bold/Gotham-Bold.woff2') format('woff2'),
       url('/assets/fonts/Gotham-Bold/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Gotham-Bold/GothamBold.woff') format('woff'),
  url('/assets/fonts/Gotham-Bold/GothamBold.ttf') format('truetype'),
  url('/assets/fonts/Gotham-Bold/GothamBold.svg#GothamBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
