// App colors
$transparent-black: rgba(0, 0, 0, 0.5);
$very-transparent-black: rgba(0, 0, 0, 0.31);
$dark-grey: #0f0f0f;
$desaturated-grey: #131314;
$shadow-color: rgba(14, 14, 14, 0.5);
$very-dark-gray: #202020;
$dark-gray: #a0a0a0;
$dark-grey-very-transparent: rgba(160, 160, 160, 0.2);

$transparent-white: rgba(255, 255, 255, 0.5);
$very-transparent-white: rgba(255, 255, 255, 0.2);
$extremely-transparent-white: rgba(255, 255, 255, 0.05);
$transparent-light-gray: rgba(234, 234, 234, 0.2);

$white: #ffffff;

$greenish-background: linear-gradient(112deg, #02fce4, #00ff14);

$mostly-black: #262626;
$very-dark-blue: #18191b;
$mostly-dark-blue: #1d1e1f;
$mostly-dark-red: #131212;
$very-dark-grayish-blue: #333443;

$vivid-cyan: #01fbc4;
$green-active: #03fb06;
$vivid-lime-green: #07e106;
$pure-lime-green: #00ff14;
$vivid-yellow: #f9fb04;

$transparent-green: rgba(3, 251, 6, 0.5);
$very-transparent-green: rgba(3, 251, 6, 0.2);

$vivid-red: #fb0338;
