// BUTTONS
@import "helpers";

.button {
  font-size: 30px;
  outline: none;
  border: none;
  @include border-radius(3px);
  color: white;
  padding: 15px;
  @include gotham-bold;
  width: 100%;
  background-color: $very-dark-gray;
  @include boxShadow(0 0 50px $dark-grey);
  text-align: center;
  cursor: pointer;

  &:hover {
    background-image: $greenish-background;
    color: $desaturated-grey;
  }

  &.link-button {
    background-color: transparent;
    border: 3px solid $green-active;
    @include border-radius(100px);

    &:hover {
      background-color: $dark-grey !important;
      background-image: none;
      color: white !important;
    }
  }
}

.title {
  color: $green-active;
  font-size: 80px;
  @include gotham-light;
  margin-bottom: 80px;
  // opacity: 0.4;
  letter-spacing: 15px;
  border: 7px solid;
  padding: 25px;
  border-radius: 30px;
  -moz-animation: fadein 5s;
  /* Firefox */
  -webkit-animation: fadein 5s;
  /* Safari and Chrome */
  -o-animation: fadein 5s;

  .reverse {
    transform: scale(-1, 1);
    display: inline-block;
    margin-left: -14px;
  }

  &.small {
    font-size: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 25px;
    border-width: 5px;
  }
}

.error {
  color: red;
  font-size: 25px;
  margin-bottom: 20px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
