@font-face {
  font-family: 'Gotham-Light';
  src: url('/assets/fonts/Gotham-Light/Gotham-Light.eot');
  src:
    url('/assets/fonts/Gotham-Light/Gotham-Light.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Gotham-Light/Gotham-Light.woff2') format('woff2'),
    url('/assets/fonts/Gotham-Light/GothamLight.woff') format('woff'),
    url('/assets/fonts/Gotham-Light/GothamLight.ttf') format('truetype'),
    url('/assets/fonts/Gotham-Light/GothamLight.svg#GothamLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
