@font-face {
  font-family: 'Gotham-Medium';
  src: url('/assets/fonts/Gotham-Medium/Gotham-Medium.eot');
  src: url('/assets/fonts/Gotham-Medium/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Gotham-Medium/Gotham-Medium.woff2') format('woff2'),
      url('/assets/fonts/Gotham-Medium/GothamMedium.woff') format('woff'),
      url('/assets/fonts/Gotham-Medium/GothamMedium.ttf') format('truetype'),
      url('/assets/fonts/Gotham-Medium/GothamMedium.svg#GothamMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
