@import 'app/generics';

html {
    // background-color: #0f0f0f;

    body {
        background-image: radial-gradient(circle at 50% 0, #2d2d2d, #060a0c);
        min-height: 100vh;
        margin: 0;
        color: white;
    }
}