@import './../generics';

.home-container {
  height: 100vh;
  justify-content: center;
  align-items: center;

  .buttons-container {
    width: 812.41px;
    display: flex;
    justify-content: space-between;
  }

  .button {
    padding: 50px;
    font-size: 60px;
    width: 380px;
  }
}
