<div class="register-container d-flex flex-column">

  <div class="title small">PASSWONDE<span class="reverse">R</span></div>

  <div class="navigation-container">
    <div class="button link-button" (click)="navigateBack()">&#171; Back</div>
  </div>

  <div class="error">{{errorText}}</div>

  <form class="form-container d-flex flex-column">
    <app-input #email [type]="'email'" [placeholder]="'User name'"></app-input>
    <app-input #password [type]="'password'" [placeholder]="'Password'"></app-input>
    <app-input #confirmPassword [type]="'password'" [placeholder]="'Confirm password'"></app-input>
  </form>
  <button class="button w-50" (click)="register()">Register</button>

</div>